<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="{{ url_for('static',     filename='/CSS/style.css') }}">
        <style>
    body {
  font-family: sans-serif;
  margin: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

form {
  width: 600px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

p {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

@media (max-width: 500px) {
  form {
    width: 100%;
  }
    </style>
</head>
<body>
 {% extends "header.html" %}
    {% block content %}
<form action="/conformation" method="POST">
    <h1>Booking Confirmation</h1>
    <h4>Your booking details:</h4>
    <h4>Name: {{ booking[1] }}</h4>
    <h4>Mobile: {{ booking[2] }}</h4>
    <h4>Email: {{booking[3]}}</h4>
    <h4>Check-in: {{ booking[4] }}</h4>
    <h4>Check-out: {{ booking[5] }}</h4>
    <h4>Hotel Name:{{booking[6]}}</h4>
    <h4>Room: {{ booking[7] }}</h4>
    <h4>Amount: {{ booking[8] }} INR</h4>
</form>
 {% endblock %}
</body>
</html>
